[user]
	name = Cinbin
	email = ChouSinbin@163.com
[safe]
	directory = D:/Github
	
[http "https://github.com"]
	proxy = http://127.0.0.1:7890
	
[https "https://github.com"]
	proxy = https://127.0.0.1:7890
